.item-container {
  background-color: white;
  font-weight: 200;
  font-size: 18px;
  line-height: 19px;
  color: #333333;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0px 10px 4px 10px;
  min-height: 121px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto;
  grid-gap: 19px;
  padding: 29px;
}

.description {
  color: #333333;
  font-weight: 200;
  font-family: Montserrat, sans-serif;
  font-size: 22px;
  line-height: 28px;
  align-self: flex-start;
  margin: 0px;
  padding: 0px;
}

.replies {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  text-align: right;
  align-self: flex-start;
}
