.container {
  background-color: #24b1ff;
  display: flex;
  flex-direction: column;
  place-items: center flex-start;
  justify-items: stretch;
  padding: 137px 40px;
}

.closeButton {
  position: fixed;
  top: 18px;
  right: 18px;
  cursor: pointer;
  width: 36px;
  height: 36px;
}

.title {
  composes: mainTitle1 from "./styles.module.css";
  color: white;
  text-align: center;
}

.subtitle {
  composes: smallLight from "./styles.module.css";
  color: white;
  text-align: center;
  margin: 20px 0px 60px 0px;
  line-height: 18px;
}

.button {
  width: 75vw;
  min-width: 200px;
  max-width: 300px;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  box-sizing: border-box;
  padding: 30px 42px;
  border-radius: 2px;
  cursor: pointer;
  max-height: 82px;
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

.buttontext {
  color: white;
}
