.container {
  composes: backgroundImg from "./styles.module.css";
  margin-top: 200px;
  min-height: 100vh;
}

.topcontainer {
  composes: backgroundImg from "./styles.module.css";
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 33;
  padding: 40px 40px 20px 40px;
  height: 200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.itemcontainer {
  background-color: white;
  font-weight: 200;
  font-size: 18px;
  line-height: 19px;
  color: #333333;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0px 10px 4px 10px;
  min-height: 121px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  padding: 29px;
}

.reply {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 40px 40px 20px 40px;
  background-color: white;
  margin: 0px 10px 0px 10px;
}

.reply .valuebox {
  align-self: flex-start;
  justify-self: end;
}

.reply {
  composes: bodyDefault from "./styles.module.css";
  font-weight: 300;
  line-height: 22px;
  color: #333333;
}

.reply > .toprow {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  width: 75vw;
}

.reply .currency {
  color: #333333;
  box-sizing: border-box;
}

.reply .value {
  color: #333333;
  font-size: 18px;
  box-sizing: border-box;
  margin-top: 0px;
}

.replies {
  composes: smallBold from "./styles.module.css";
  text-align: right;
  align-self: flex-start;
}

.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closeitem {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: 0px 10px 0px 10px;
  padding: 10px 10px 0px 0px;
}

.hashtaglist {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.hashtagname {
  composes: mainTitle2 from "./styles.module.css";
  color: var(--sc-grey4);
  margin-top: 28px;
}

.timestamp {
  margin: 0px;
  padding: 0px;
  line-height: 38px;
  composes: smallLight from "./styles.module.css";
  color: #a6a6a6;
}

.timestampsmall {
  margin: 0px;
  padding: 0px;
  line-height: 38px;
  composes: smallestLight from "./styles.module.css";
  color: #a6a6a6;
}

.username {
  margin-left: 15px;
  color: var(--sc-blue);
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  composes: smallBold from "./styles.module.css";
}

.valuebox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount {
  margin-right: 30px;
  text-align: right;
  color: var(--sc-yellow);
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.currency {
  composes: smallestBold from "./styles.module.css";
  color: var(--sc-yellow);
}

.value {
  composes: mainTitle4 from "./styles.module.css";
  color: var(--sc-yellow);
}

.description {
  color: var(--sc-grey4);
  composes: bodyDefault from "./styles.module.css";
  font-size: 22px;
  line-height: 30px;
}

.descriptionsmall {
  color: var(--sc-grey4);
  composes: bodyDefault from "./styles.module.css";
}

.filterbox {
  composes: smallBold from "./styles.module.css";
  height: 25px;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.035);
  color: var(--sc-grey3);
  width: 110px;
  text-align: center;
  margin-top: 18px;
}

.plusbutton {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 55;
}

.username {
  margin-left: 10px;
  color: var(--sc-blue);
  composes: smallBold from "./styles.module.css";
}

.usernamesmall {
  margin-left: 10px;
  color: var(--sc-blue);
  composes: smallestBold from "./styles.module.css";
}

.smallamount {
  margin-right: 30px;
  text-align: right;
  color: var(--sc-yellow);
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.smallcurrency {
  composes: smallestBold from "./styles.module.css";
  color: var(--sc-yellow);
}

.smallvalue {
  composes: mainTitle4 from "./styles.module.css";
  color: var(--sc-yellow);
}

.value {
  margin-top: 7px;
  font-size: 36px;
}
