.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: left; 
}

.hashtaglist {
  display: flex;
  flex-direction: column;
  align-items: left; 
}

.hashtaglistname {
  composes: mainTitle2 from './styles.module.css';
  line-height: 18px;
}
.completed {
  composes: smallLight from './styles.module.css'; 
  color: #666666;
}

.hashtaglistitem {
  padding: 25px 10vw 22px;
  border-bottom: 1px solid #ddd;
  margin-top: -0px;
}

.language {
  height: 50px;
}

.button {
    width: 75vw;
    min-width: 200px;
    max-width: 300px;
    font-family: Montserrat, sans-serif;
    font-weight: 800;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 22px;
    box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
    text-align: center;
    box-sizing: border-box;
    padding: 30px 42px;
    border-radius: 2px;
    cursor: pointer;
    max-height: 82px;
    background-color: rgba(250, 250, 250, 0.09);
    margin-top: 30px;
}

.buttontext {
  color: black;
}

.completed {
  composes: smallLight from './styles.module.css';
  width: 75vw;
  min-width: 200px;
  max-width: 300px;
  margin-top: 15px;
  opacity: 0.7;
}


