.container {
  composes: backgroundImg from "./styles.module.css";
  margin-top: 200px;
  min-height: 100vh;
}

.topcontainer {
  composes: backgroundImg from "./styles.module.css";
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 33;
  padding: 40px 40px 20px 40px;
  height: 200px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.replies {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
  text-align: right;
  align-self: flex-start;
}

.toprow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.closeitem {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  box-sizing: border-box;
  margin: 0px 10px 0px 10px;
  padding: 10px 10px 0px 0px;
}

.hashtaglist {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.hashtagname {
  composes: mainTitle2 from "./styles.module.css";
  color: #333333;
  margin-top: 28px;
}

.timestamp {
  margin: 0px;
  padding: 0px;
  line-height: 38px;
  composes: smallLight from "./styles.module.css";
  color: #a6a6a6;
}

.timestampsmall {
  margin: 0px;
  padding: 0px;
  line-height: 38px;
  composes: smallestLight from "./styles.module.css";
  color: #a6a6a6;
}

.username {
  margin-left: 15px;
  color: #24b1ff;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.avatar {
  display: flex;
  flex-direction: row;
  align-items: center;
  composes: smallBold from "./styles.module.css";
}

.valuebox {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.amount {
  margin-right: 30px;
  text-align: right;
  color: #efd96f;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.currency {
  composes: smallestBold from "./styles.module.css";
  color: #efd96f;
}

.value {
  composes: mainTitle4 from "./styles.module.css";
  color: #efd96f;
}
.description {
  color: #333333;
  font-weight: 200;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 30px;
}

.filterbox {
  composes: smallBold from "./styles.module.css";
  height: 25px;
  cursor: pointer;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.035);
  color: #666666;
  width: 110px;
  text-align: center;
  margin-top: 18px;
}

.plusbutton {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 55;
}

.username {
  margin-left: 10px;
  color: #24b1ff;
  composes: smallBold from "./styles.module.css";
}

.usernamesmall {
  margin-left: 10px;
  color: #24b1ff;
  composes: smallestBold from "./styles.module.css";
}

.smallamount {
  margin-right: 30px;
  text-align: right;
  color: #efd96f;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
}

.smallcurrency {
  composes: smallestBold from "./styles.module.css";
  color: #efd96f;
}

.smallvalue {
  composes: mainTitle4 from "./styles.module.css";
  color: #efd96f;
}

.value {
  margin-top: 7px;
  font-size: 36px;
}
