.container {
  composes: backgroundImg from "./styles.module.css";
  margin-top: 107px;
  min-height: 100vh;
}

.topcontainer {
  box-sizing: border-box;
  composes: backgroundImg from "./styles.module.css";
  position: fixed;
  top: 0;
  z-index: 33;
  padding: 40px 40px 20px 40px;
  height: 107px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hashtaglist {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.hashtaglistitem {
  padding: 25px 10vw 22px;
  border-bottom: 1px solid #ddd;
}

.hashtaglistname {
  composes: mainTitle2 from "./styles.module.css";
  color: black;
}

.completed {
  composes: smallLight from "./styles.module.css";
  color: #666666;
}
