.container {
  margin-top: 127px;
  min-height: 100vh;
}

.topcontainer {
  background-color: var(--sc-dark);
  box-sizing: border-box;
  position: fixed;
  top: 0;
  z-index: 1;
  padding: 10px 40px 20px 40px;
  height: 127px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hashtaglist {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.itemcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px 20px 40px;
  align-items: flex-end;
}

.hashtaglistitem {
  /* border-bottom: 1px solid var(--sc-grey4); */
  padding-bottom: 20px;
}

.hashtaglistname {
  composes: mainTitle2 from "./styles.module.css";
  color: var(--sc-grey2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.completed {
  composes: smallLight from "./styles.module.css";
  color: var(--sc-grey3);
  padding: 0px 40px 0px 40px;
  margin-top: -10px;
}

.plusbutton {
  position: absolute;
  bottom: 50px;
  right: 30px;
  z-index: 55;
  background-color: var(--sc-blue);
}
