@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,700");

/* DO THIS BETTER */
a {
  text-decoration: none !important;
}

:root {
  /* Global color */
  background-color: #f2f2f2;

  /* users can not select unless we explicity allow */
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;

  /*----------COLORS----------*/
  /* Primary tone */
  --sc-yellow: #efd96f;
  --sc-blue: #24b1ff;
  /* Secondary tone */
  --sc-green: #7ad69c;
  --sc-red: #f55858;
  --sc-grey4: #333333;
  /* Additional colors */
  --sc-white: #fafafa;
  --sc-grey1: #f2f2f2;
  --sc-grey1b: #e6e6e6;
  --sc-grey2: #bfbfbf;
  --sc-grey3: #666666;
  --sc-grey3b: #acacac;
  --sc-green2: #23b460;
  --sc-red2: #d0021b;
}

/*----------TYPOGRAPHY----------*/
.mainTitle1 {
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  letter-spacing: 0;
  line-height: 36px;
}
.mainTitle2 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 36px;
}
.mainTitle3 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 26px;
  letter-spacing: 0px;
  line-height: 32px;
}
.mainTitle4 {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 0;
  line-height: 27px;
}
.bodyDefault {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.bodyBold {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
}
.bodyDetail {
  font-family: Montserrat, sans-serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 24px;
}
.bodyButton {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}
.smallLight {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}

.smallBold {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 15px;
}
.smallestLight {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 13px;
}
.smallestBold {
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 13px;
}
/* .blueLink: {
  composes: smallBold;
  cursor: pointer;
  color: --sc-blue;
  border-bottom: 2px dotted blue;
}  */
/*
.greyLink: {
  composes: smallLight from './styles.module.css';
  cursor: pointer;
  color: var(--sc-grey4);
  text-decoration: none;
  border-bottom: 1px dotted var(--sc-grey3b);
} */

.baseShadow {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*:focus {
  outline: none !important;
}

.backgroundImg {
  background-image: url("./images/bg-header3.png");
}

.swarm-city {
  composes: backgroundImg;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: auto;
}

.hashtagName {
  composes: mainTitle1;
  color: #333333;
  height: 60px;
  margin-top: 25px;
}

.itembottom {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: -10px;
  margin-bottom: 25px;
}

.user {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.logo {
  background-image: url("./images/SwarmCity-Sprite-normal.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 108px;
  height: 50px;
  background-position: -108px -108px;
  margin-right: 40px;
}

.logotext {
  margin-bottom: 20px;
  font-weight: 800;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  margin-bottom: 5px;
}

.header {
  composes: backgroundImg;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 40px 30px;
  width: 100vw;
  height: 40px;
}

.item {
  background-color: white;
  font-weight: 200;
  font-size: 22px;
  line-height: 19px;
  color: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0px 10px 4px 10px;
  min-height: 121px;
  padding: 29px;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  padding: 29px;
}

.smallitem {
  background-color: white;
  font-weight: 200;
  font-size: 18px;
  line-height: 19px;
  color: #333333;
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  margin: 0px 10px 4px 10px;
  min-height: 121px;
}

.myinfobox {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  color: #333333;
}

.usernamesmall {
  color: #333333;
}

.accountbox {
  composes: smallBold;
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  line-height: 20px;
  box-sizing: border-box;
  color: #333333;
}

.balance {
  composes: bodyBold;
  font-size: 22px;
  color: #efd96f;
}

.createaccountbutton {
  align-content: flex-start;
  width: 90px;
  height: 20px;
  text-align: center;
  border: 0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.25);
  cursor: pointer;
  color: #666666;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
  padding: 9px 14px;
  composes: smallLight;
}

.baseshadow: {
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
}

.dont-break-out {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

/* .iconbuttonbig {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
} */

.iconbuttonbig {
  z-index: 55;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.plusicon {
  width: 54px;
  height: 54px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -108px -270px;
}

.plusblueicon {
  width: 54px;
  height: 54px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -162px -0px;
}

.nextblueicon {
  width: 54px;
  height: 54px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -216px -0px;
}

.exiticon {
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -216px -198px;
  width: 36px;
  height: 36px;
}

.exiticonblue {
  background-position: -270px -72px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -270px -72px;
  width: 36px;
  height: 36px;
}

.exitgrayicon {
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -216px -234px;
  width: 36px;
  height: 36px;
}

.closeicon {
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -144px -234px;
  width: 36px;
  height: 36px;
}

.alertblueicon {
  background-position: -108px -54px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 54px;
  height: 54px;
  margin-bottom: -20px;
  z-index: 1;
  margin-top: 30px;
}

.backicon {
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -180px -198px;
  width: 32px;
  height: 32px;
}

.nextwhiteicon {
  background-position: -162px -270px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 54px;
  height: 54px;
}

.nextgrayicon {
  background-position: -54px -270px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 54px;
  height: 54px;
}

.nextgreysmallicon {
  background-position: -252px -234px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 32px;
  height: 32px;
}

.vmarkicon {
  background-position: -0px -54px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 54px;
  height: 54px;
}

.vmarkiconwhite {
  background-position: -0px -216px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 54px;
  height: 54px;
}

.xmarkicon {
  background-position: -54px -0px;
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  width: 54px;
  height: 54px;
}

.logout {
  background-image: url("./images/SwarmCity-Sprite-doublesize.png");
  background-repeat: no-repeat;
  background-size: 324px 324px;
  background-position: -216px -198px;
  width: 36px;
  height: 36px;
}

.flexrow {
  display: flex;
  flex-direction: row;
}

.flexcolumn {
  display: flex;
  flex-direction: row;
}

.useraddress {
  compose: smallLight;
}

.yellow {
  color: var(--sc-yellow);
}

.blue {
  color: var(--sc-blue);
}
